<%- include('partials/header') %>

<section class="section single-wrapper">
    <div class="container">
        <div class="row">


            <%- include('partials/side') %>

            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <h1><%= key %></h1>
                    <div class="blog-grid-system">
                        <div class="row">

                            <% search.forEach(function(search){ %>
                                <div class="col-md-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="/detail/<%= search.id %>" title="">
                                                <img src="../upload/<%= search.image %>" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta big-meta">
                                            <span class="color-orange"><a href="tech-category-01.html" title="">Gadgets</a></span>
                                            <h4><a href="/detail/<%= search.id %>" title=""><%= search.name %></a></h4>
                                            <p><%= search.summary %>.</p>
                                            <small><a href="tech-single.html" title=""><%= search.created_at %></a></small>
                                            <small><a href="tech-author.html" title="">by <%= search.author %></a></small>
                                            <small><a href="tech-single.html" title=""><i class="fa fa-eye"></i> 2887</a></small>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                            <% }); %>





                        </div><!-- end row -->
                    </div><!-- end blog-grid-system -->
                </div><!-- end page-wrapper -->

                <hr class="invis3">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</section>

<%- include('partials/footer') %>